.about {
  padding-top: 51px;
  padding-bottom: 50px;

  background-color: #f0efe9;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.about__wrapper {
  @include wrapper-mobile;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;

    gap: 0 40px;

    @include wrapper-desktop;
  }
}
